*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading{
    color: red;
    text-align: center;
}
.btn-link{
    color:white;
    -webkit-background-clip: text;
    -moz-background-clip: text;
     -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-image: linear-gradient(to top, #CD5C5C, #CD5C5C);
    font-size: 1rem;
    
}
.btn-links{
    color:white;
    -webkit-background-clip: text;
    -moz-background-clip: text;
     -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-image: linear-gradient(to top, white, white);
    font-size: 1rem;
    
}
.card-header {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    padding: 1rem;
    padding-bottom: 5rem;
}

.card-body{
    font-size: .9rem;
    padding: 1rem;
}
.card-footer {
    margin-top: 1rem;
    padding: 1rem;
    padding-top: 0;
}
.btn{
    background: red;
    color: whitesmoke;
    border: none;
    font-size: 1rem;
    padding: .5rem  .75em;
    border-radius: .25em;
    cursor: pointer;
}
.btn:hover, .btn:focus {
    background: #CD5C5C
}
.btn.btn-outline {
    background: none;
    border: 1px solid #CD5C5C;
    color: #CD5C5C;
}
.btn.btn-outline:hover, .btn.btn-outline:focus {
    background: whitesmoke;
}
.btn + .btn {
    margin-left: .25rem;
}
.card {
    overflow: hidden;
    background: white;
    border-radius: .25rem;
}
.card-header.card-image{
    overflow: hidden;
    padding: 0;
}
.card-header.card-image > img {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
    max-height: 300px;
    transition: 200ms transform ease-in-out;
}
.card:hover > .card-header.card-image > img {
    transform: scale(1.025);
}

.card.card-shadow {
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    align-items: flex-start;
    padding: 40px;
    justify-content: space-around;
}
.navbar {
    background: red;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
#navbar-logo{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
    background-color: white;
    background-image: linear-gradient(to top, white 0%, white 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
.fa-gem{
    margin-right: 0.5rem;
}
.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar-item {
    height: 80px;
}
.navbar-links {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding:0 1rem;
    width: 100%;
}
.navbar-links:hover{
    color: black;
    transition: all 0.3s ease;
}
body {
    font-family: 'Segoe UI';
}
.bodyfooter{
    font-weight: 400;
    background-color: #ededed;
}
.footer {
    padding: 40px 0;
    background-color: #fff;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a:hover {
    opacity: 0.9;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color:#aaa;
}
@media screen and (max-width: 960px) {
    .navbar-container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar-menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
         background: red;
    }

    .navbar-menu.active {
        background: red;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar-logo{
        padding-left: 25px;
    }

    .navbar-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out, background-position 1ms;
        background: white;
    }
    .navbar-item {
        width: 100%;
    }

    .navbar-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar-toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}